:root {
    --vp-c-brand-1: hsl(24,100%,50%);
    --vp-c-brand-light: hsl(24, 85%, 55%);
    --vp-c-brand-lighter: hsl(24, 80%, 62%);
    --vp-c-brand-dark: hsl(24, 66%, 36%);
    --vp-c-brand-darker: hsl(24, 65%, 29%);
  }